.search{
    margin: 10px 5px;
}
.search .search-by-bookname, .search-by-authorname{
    display: inline;
    margin: 10px 0px;
    
}
.search .search-by-bookname{
  margin-right: 20px;	
}
.search .search-btn{
    text-decoration: none;
    padding: 5px 15px;
    background-color: var(--btn-blue-color);
    color: #fff;
    border-radius: 5px;
}
.manage-book{
    position: relative;
    margin: 30px 5px;
}
.manage-book .manage-book-btn{
    position: relative;
    top: 10px;   
}
.manage-book .add-book-btn, 
.manage-book .delete-book-btn {
    margin-right: 15px;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
}

.manage-book .add-book-btn{
    background-color:  var(--btn-blue-color);
    color: #fff;
}
.manage-book .delete-book-btn{
    background-color: #696969;
    color: #fff;  
}
.manage-book  .books-amount{
    position: absolute;
    right: 0;
    top:0;
}
.list-book-container{
    margin-top: 50px;
    width: 100%;
    position: relative;
}
.list-book-container .list-book-table{
   
    width: 100%;

    border-collapse:collapse;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: center;
}
.list-book-container .list-book-table, th, td{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    padding-top:10px;
    padding-bottom:10px;
   
  
}
/*Tang do rong 2 column tac gia va category*/
.tr-width-12{
	width:12%;
}

.data-row .book-data .book-image{
  width:36px;
  height: 36px;
}
.custom-btn-3{
	display:flex;
}

.custom-btn .edit-custom-btn, .edit-audio-btn,.edit-online-btn,
.custom-btn .delete-custom-btn,.add-audio-btn, .add-online-btn,
.custom-btn .spam-custom-btn, 

.custom-btn .approved-custom-btn{
    text-decoration: none;
    padding: 5px 15px;
    background-color:  var(--btn-blue-color);
    color: #fff;
    border-radius: 20px;
}

.add-image .add-image-btn{
    text-decoration: none;
    padding: 0px 5px;
    margin-right: 10px;
    border: 1px solid #ccc;   
    border-radius: 50px;
    text-align: center;
}

.paging{
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 50px;
    right: 32px;
    bottom: -50px;
    padding: 8px 12px;
}
.paging a{
    text-decoration: none;
}
.list-paging-numbers{
    list-style-type: none;
    display: block;
    padding-left: 16px;
    padding-right:16px;
    border-radius: 20px;
}
.list-paging-numbers li{
    display: inline-block;
    margin: 4px 4px;
}


.paging .active{
    padding: 4px 8px;
    background-color:  var(--btn-blue-color);
    color: #fff;
    border-radius: 20px;
   
}

.fas, .far{
    border: none;
}

/* PC */
@media (min-width: 64em) {
    .container{
        grid-template-columns: 25% 70%;
    }  
    .header-manage-list{
        width: 100%;
     
    }
}
/* Tablet + Mobile */
@media (max-width: 63.9375em) {
    
}
/* Tablet */
@media(min-width: 46.25em) and (max-width:63.9375em){
    .container{
        grid-template-columns: 25% 70%;
    }
    .search-by-bookname .search-bookname-label{
        margin-right: 12px;
    }
    
    .search .search-by-authorname{
        display:inline-block;
        margin-left:96px;
    }
    .custom-btn .edit-custom-btn, 
    .custom-btn .delete-custom-btn{   
        padding: 0px 15px;
   
    }
    .list-book-container{
        position: relative;
     
    }
    .paging{
          position: absolute;
         
    }
    .header-manage-list{
        width: 100%;
     
    }
    .list-book-table{
        width: 100%;
    }
    
}

/* Mobile */
@media(max-width: 46.25em){
    
    .list-book-container{
        position: relative;
     width: 100%;
    }
    .list-book-table{
        width: 100%;
    }
    .paging{
        position: absolute;
        
    }
    .header-manage-list{
        width: 1320px;
    
    }
  
  
}

.width-input{
    width: 100%;
    height: 32px ;
    margin-top: 8px;
}
.height-input{
    height: 60px;
}
.form-lable-tyle{
    display: flex;
  }
  .form-lable-3{
      margin-right: 32px;
      
  }
  .form-1{
    border:1px solid #363636;
    width:200px;
            height:100px;
    overflow-x:hidden;
    padding-left: 12px;
    margin-top: 8px;

    
}
.form_input{
    margin-top: 12px;
}
.listCheck_three{
    display: flex;
}
.list-checkbox{

margin-right: 36px;

}
.pdf-links{
	flex-grow:1;
}
.spacing{
    margin-top: 36px;

  }
  .btn{
    position: absolute;
    right: 0;
    display: flex;
    
  }
  .btn_two{
    margin-top: 8px;
    position: absolute;
    left: 0;
    display: flex;
  }
  .black{
   
   margin-left: 8px;
    background-color: #1a6cf0;
    border-color: transparent;
    color: white;
    padding:3px 6px 3px 6px;
    
    
   
  }
  .grey{
    background-color: #535354;
    color: #fff;
    padding:3px 6px 3px 6px;
    text-decoration:none ;

  }
  .btn_two-input{
      
      margin-left: 100px;
  }
.list-space {
 
    border-collapse: collapse;
  
    
  }
  
  .list-audio-td, .list-audio-th{
    border: 1px solid rgb(223, 221, 221);
    text-align: left;
    padding: 8px;
 

   
  }

  .width-input{
    width: 100%;
    height: 32px ;
    margin-top: 8px;
}
 
.form__list-chapter{
   
    margin-top: 16px;
    
}
.width-input-prioty{
    width: 20%;
}
.border-form{
    border:1px solid rgb(223, 221, 221) ;
    padding: 24px 16px 48px 16px;
}
.spacing{
    margin-top: 8px;

  }
  .btn{
    position: absolute;
    right: 0;
    margin-right: 40px;
    display: flex;
    
  }
  .black{
   
    margin-left: 8px;
     background-color: #1a6cf0;
     border-color: transparent;
     color: white;
     padding:3px 6px 3px 6px;
     
     
     
   
    
   }
   .grey{
     background-color: #535354;
     color: #fff;
     padding:3px 6px 3px 6px;
     
     text-decoration:none ;
 
   }
  #update-audio{
  display:none;
  }
  #edit-audio,#edit-online{
  display:none
  }
  .audio-name, .audio-url{
  border:none;
  }
 .edit-header{
 margin-bottom:12px; 
  display: flex;
   justify-content: space-between;
  }

/*-------------------------------------------------------------------------*/
.side-menu .menu-manage-user{
    background-color: #CFCFCF;
    padding:16px 10px;   
}
.side-menu .menu-manage-user-name{
    font-size:20px;
}
.search{
    margin: 10px 0px;
}
.search .search-by-username{
    display: inline-block;
    
    margin: 10px 0px;
}
.search-username-input{
    padding: 4px;
    width: 500px;
}
.search .search-btn{
    text-decoration: none;
    padding: 5px 15px;
    background-color: var(--btn-blue-color);
    color: #fff;
    border-radius: 5px;
}
.user-role{
    position: relative;
    margin-bottom: 64px;

}
.role-control{
   position: relative;
    top : 30px;
}
.user-role .manage-user-btn{
    position: relative;
    top: 5px;
  
}
.edit-user-btns .cancel-btn, .edit-user-btns .save-change-btn{
  
    right:0px;  
    text-decoration: none;
    padding: 12px 36px;
    border-radius: 5px;
    
}
.user-role .delete-user-btn {
    position: absolute;
    right:0px;  
    text-decoration: none;
    padding: 12px 36px;
    border-radius: 5px;
   
}
.cancel-btn{
    background-color: #696969;
    color: #fff;
}
.save-change-btn{
    background-color: var(--btn-blue-color);
    color: #fff;
}

.delete-user-btn{
    background-color: rgb(196, 17, 17);
    color: #fff;  
}


.list-user-container{
    margin-top: 50px;
    width: 100%;
    position: relative;
}
.list-user-container .list-user-table{
   
    width: 100%;

    border-collapse:collapse;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: center;
}
.list-user-container .list-user-table, th, td{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    padding-top:10px;
    padding-bottom:10px;
}



.edit-content{
    border: 1px solid #000;
    padding: 12px 36px;

    
}
.user-info-title, .user-info-value{
    font-size:20px;
    margin-bottom: 24px;
}
.user-info-title{
    display: inline-block;
    width:160px;

}
.select-role{
    font-size:16px;
    width:100px;
}
.role-user, .role-admin{
    font-size:20px;
   
}
.role-admin{
    text-decoration: none;
}
.edit-user-btns{
    position: absolute;
    right: 32px;
    bottom: -100px;
    padding: 8px 12px;
}
